/* OpenSans Font */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* Graphik Font */
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik/Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}