/* OpenSans Font */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}